/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos específicos de sección */
section {
    margin-top: 40px;
}

section h2 {
    font-size: 24px;
    color: #333;
}

section p {
    color: #666;
}

/* Estilos de platos */
.platos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plato {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.plato img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.plato h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.plato p {
    color: #666;
    margin-bottom: 15px;
}

.plato .precio {
    display: block;
    font-weight: bold;
    color: #ff6600;
}
